<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- build:css styles/plagins.css -->
    <link rel="stylesheet" href="styles/fancybox.css">
    <link rel="stylesheet" href="styles/formstyler.css">
    <link rel="stylesheet" href="styles/normalize.css">
    <link rel="stylesheet" href="styles/slick.css">
        <!-- add you plagin css here -->

    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/critical.css">
    <link rel="stylesheet" href="styles/index.css">
    <!-- add you develop css here -->

    <!-- endbuild -->

</head>
<body>