<div class="hidden-block">

    <div id="call_success">
         <div class="call-success-wrap">
             <div class="call-success-title"><!-- Спасибо за заявку!--></div>
             <div class="call-success-subtitle"><!-- Мы свяжемся с Вами в ближайшее время --></div>
         </div>
    </div>

    <div id="call-popup">
        <form action="ajax.php" class="contact-form">
            <div class="contact-form-title">
                <!-- Title -->
            </div>
            <div class="contact-form-row cfix">
                <div class="contact-form-item">
                    <div class="contact-form-item-input form_row">
                        <div class="form_input">
                            <input type="text" name="contact_name" required="required" value="" placeholder="Ваше Имя">
                        </div>
                    </div>
                </div>
                <div class="contact-form-item">
                    <div class="contact-form-item-input form_row">
                        <div class="form_input">
                            <input type="text" name="contact_tel" value="" required="required" placeholder="Ваш номер" class="tel-mask">
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact-form-row cfix">
                <div class="contact-form-item">
                    <button type="submit" class="contact-submit">
                        <span><!-- Отправить заявку  --></span>
                    </button>
                </div>
            </div>
        </form>
    </div>

</div>